<title>Game Valera</title>
<% name = current_user.present? ? current_user.name : 'Stranger'%>
<h6 align="center", class="nav-item">
    <h>Valera Life Stats</h>
    <p class = "health">Health: <progress class="health-roll" value="<%= current_user.health %>" max="100"></progress><p> 
    <p class = "mana">Mana: <progress class="mana-roll" value="<%= current_user.mana %>" max="100"></progress><p>
    <% if current_user.happiness.positive? or current_user.happiness.zero?%>
        <p class = "happines">Happiness: <progress class="happiness1-roll" value="<%= current_user.happiness %>" max="10"></progress><p>
    <%end%>
    <% if current_user.happiness.negative? %>
        <p class = "sadness">Sadness: <progress class="happiness2-roll" value="<%= current_user.happiness.abs %>" max="10"></progress><p>
    <%end%>
    <p class = "fatigue">Fatique: <progress class="fatigue-roll" value="<%= current_user.fatigue %>" max="100"></progress><p>
    <p class = "money">Money: <%= current_user.money %>₽<p>
</h6>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info" align = "center">
        <%= msg %>
      </div>
    <% end %>
<h6 align="center", class="nav-item">
        <button><%= link_to 'New Game', new_game_path, method: :get, class: "link"%></button>
        <% if !@is_lose %>
            <button><%= link_to "Save Game", new_slot_path, class: "link" %></button>
        <% end %>
        <button><%= link_to "Load Game", slots_path, class: "link" %></button>
    <li><button class="new-button"><%= link_to 'Go Job', go_job_path, class: "link", method: :get if !@is_lose %></button></li>
    <li><button class="new-button"><%= link_to 'Contemplate nature', contemplate_nature_path, class: "link", method: :get if !@is_lose%></button></li>
    <li><button class="new-button"><%= link_to 'Drink wine and watch TV series', drink_wine_and_watch_tv_series_path, class: "link", method: :get if !@is_lose%></button></li>
    <li><button class="new-button"><%= link_to 'Go to the bar', go_to_the_bar_path, class: "link", method: :get if !@is_lose%></button></li>
    <li><button class="new-button"><%= link_to 'Drink with marginal people', drink_with_marginal_people_path, class: "link", method: :get if !@is_lose%></button></li> 
    <li><button class="new-button"><%= link_to 'Sing in the subway', sing_in_the_subway_path, class: "link", method: :get if !@is_lose%></button></li>
    <li><button class="new-button"><%= link_to 'Sleep', sleep_path, class: "link", method: :get if !@is_lose%></button></li>
</h6> 

